@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.page {
  height: 100vh;
  width: 100%;
}

body {
  overflow: hidden;
}
/* start titel  */
.title,
.title:hover {
  font-family: "Pacifico", cursive;
  position: fixed;
  top: 0;
  left: 0px;
  text-transform: capitalize;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 157, 66, 0.856);
  border-radius: 5px;
  transition: all 0.6s;
  width: 250px;
  height: 250px;
  transform: translate(-100px, -100px);
  box-shadow: 0 0 5px rgba(85, 81, 81, 0.993);
  cursor: pointer;
}
.title h3 {
  transform: rotate(-45deg);
  font-size: 25px;
  position: absolute;
  bottom: 55px;
  right: 0px;
}

/* end titel  */

/* start sign up btn style  */
.signUpBtn {
  font-family: "Pacifico", cursive;
  position: fixed;
  top: 0;
  right: 0px;
  color: rgb(255, 255, 255);
  background-color: rgba(10, 9, 9, 0.877);
  border-radius: 0 0 5px 5px;
  transition: all 0.6s;
  width: 250px;
  height: 250px;
  transform: translate(100px, -100px);
  box-shadow: 0 0 5px rgba(85, 81, 81, 0.993);
  cursor: pointer;
  z-index: 4;
  overflow: hidden;
}

.switcher {
  position: absolute;
  transform: rotate(45deg);
  width: 100%;
  height: 100%;
  background-color: rgba(255, 157, 66, 0.856);
  left: 100px;
  bottom: 100px;
}

.switcher span {
  margin-top: 2px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0px;
}

.switcher .switA {
  bottom: 4px;
}
.switcher .switB {
  bottom: 8px;
}
.switcher .switC {
  bottom: 12px;
}

.signUpBtn P {
  transform: rotate(45deg);
  font-size: 25px;
  position: absolute;
  bottom: 50px;
  left: 40px;
  color: #fff;
}

.signUpBtn .closeSign {
  font-size: 25px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: #fff;
  width: 100%;
  height: 100%;
  display: none;
}

.closeSign .one,
.closeSign .two {
  width: 30px;
  height: 5px;
  background: #fff;
  color: #fff;
  z-index: 1000;
  position: absolute;
  bottom: 75px;
  left: 65px;
}
.closeSign .two {
  transform: rotate(-45deg);
}
.closeSign .one {
  transform: rotate(45deg);
}

.LogInBtn {
  display: none;
}
.signUpBtn P:hover {
  color: #fff;
}

/* end signup btn style  */

/* start join  */
.joinSection,
.loginSection {
  display: none;
}

.formHolder {
  height: 85vh;
  background-color: rgb(26, 18, 15);
  position: absolute;
  top: 0;
  left: 12.5%;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 6px currentColor;
  color: rgba(255, 157, 66, 0.856);
}

.formHolder h4 {
  color: #fff;
  font-size: 30px;
  text-transform: capitalize;
}

input[type="submit"] {
  background: rgb(255, 157, 66);
  color: rgb(58, 56, 56);
  outline: rgba(255, 157, 66, 0.856) 0px;
}
/* end join  */

/* start side bar style  */
.sideBar {
  position: fixed;
  left: 0;
  top: 40%;
}

.sideIcon {
  margin: 20px 10px;
  color: #fff;
  background-color: rgb(24, 23, 23);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 7px currentColor;
  transition: 0.5s;
  cursor: pointer;
}

.sideIcon:hover,
.sideIcon.active {
  color: rgba(255, 157, 66, 0.856);
}

.sideAboutContent {
  position: fixed;
  left: 100px;
  top: 42%;
  color: rgba(255, 157, 66, 0.993);
  width: 250px;
  height: 180px;
  font-size: 16px;
  text-align: center;
  background: rgb(24, 23, 23);
  border-radius: 10px;
  padding: 15px;
  text-transform: capitalize;
  box-shadow: 0 0 7px currentColor;
  display: flex;
  align-items: center;
  display: none;
}

.sideAboutContent.openIt,
.sideContactContent.openIt,
.findUsContent.openIt {
  display: block;
}

.sideAboutContent .arrowLead {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  left: -9px;
  top: 18px;
  background: #fff;
  transform: rotate(45deg);
  z-index: 0;
  box-shadow: 0 0 7px currentColor;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sideAboutContent .innerHole {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: rgba(255, 157, 66, 0.993);
}

.sideContactContent {
  position: fixed;
  left: 100px;
  top: 42%;
  color: rgba(255, 157, 66, 0.993);
  width: 280px;
  height: 180px;
  text-align: center;
  background: rgb(24, 23, 23);
  border-radius: 10px;
  padding: 15px;
  text-transform: capitalize;
  box-shadow: 0 0 7px currentColor;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  display: none;
  text-align: left;
}

.sideContactContent p span {
  color: rgba(255, 157, 66, 0.993);
}
.sideContactContent a,
.sideContactContent p,
.sideContactContent a:hover {
  color: #fff;
  text-decoration: none;
}

.sideContactContent .arrowLead {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  left: -9px;
  top: 40%;
  background: #fff;
  transform: rotate(45deg);
  z-index: 0;
  box-shadow: 0 0 7px currentColor;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sideContactContent .innerHole {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: rgba(255, 157, 66, 0.993);
}

.findUsContent {
  position: fixed;
  left: 100px;
  top: 42%;
  padding: 10px;
  color: rgba(255, 157, 66, 0.993);
  width: 300px;
  height: 200px;
  font-size: 16px;
  text-align: center;
  background: rgb(24, 23, 23);
  border-radius: 10px;
  text-transform: capitalize;
  box-shadow: 0 0 7px currentColor;
  display: flex;
  align-items: center;
  display: none;
}

iframe {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: inherit;
  border: solid 1px currentColor;
}

.findUsContent .arrowLead {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  left: -9px;
  top: 64%;
  background: #fff;
  transform: rotate(45deg);
  z-index: 0;
  box-shadow: 0 0 7px currentColor;
  display: flex;
  justify-content: center;
  align-items: center;
}

.findUsContent .innerHole {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: rgba(255, 157, 66, 0.993);
}

/* end side bar style  */

/* starting landing page style  */
.landingPage {
  background: url(../images/mainBg.jpg);
  background-size: cover;
  background-position: center;
  font-family: "Pacifico", cursive;
}
.overLanding {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.932);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.landingPage h3 {
  font-size: 4vw;
  color: #fff;
  text-transform: capitalize;
}

.bottomBar {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-transform: capitalize;
  z-index: 200;
}
.bottomBar .btn {
  background-color: rgb(24, 23, 23);
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 10px 10px 0 0;
  transition: all 0.4s;
}
.bottomBar .btn.active,
.bottomBar .btn:hover {
  box-shadow: 0px 0px 7px currentColor;
  color: rgba(255, 157, 66, 0.993);
}

.bottomBar .btn .fa-search,
.fa-cloud-meatball,
.bottomBar .btn .fa-pizza-slice,
.bottomBar .btn .fa-cookie-bite,
.bottomBar .btn .fa-user,
.title h3 i.fa-cloud-meatball,
.bottomBar .btn .fa-hamburger {
  margin-left: 10px;
}

/* end landing page style  */

/* start search Section  */

.searchSection {
  z-index: 400;
  color: rgb(255, 157, 66);
  display: none;
}

.searchHolder {
  z-index: 10;
  margin: auto;
  width: 50%;
  position: fixed;
  top: 0;
  left: 25%;
}

.hangLine {
  height: 70px;
  width: 3px;
  background: #ddd;
  margin: auto;
}

.searchInpput {
  background-image: url("../images/woodenBg.jpg");
  border-radius: 10px;
  background-size: cover;
  background-position: center center;
  box-shadow: 0 0 7px #fff;
}

.searchOutPut {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  overflow-y: scroll;
}

.searchOutPut::-webkit-scrollbar {
  background-color: rgb(24, 23, 23);
  width: 10px;
}

.searchOutPut::-webkit-scrollbar-thumb {
  background-color: rgb(255, 157, 66);
  border-radius: 5px;
}
.imgHolder {
  width: 140px;
  height: 100%;
  border-radius: 10px;
}
.imgHolder img {
  border-radius: 10px;
  box-shadow: 0 0 7px;
}
/* end search Section  */

/* start recippes api section  */
.recipesByApi {
  color: rgb(255, 157, 66);
  display: none;
  font-family: "Pacifico", cursive;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
}

.apiRecipesContainer {
  height: 60vh;
}
.apiRecipesContainer .container-fluid {
  height: 100%;
}
.apiRecipesContainer .container-fluid .row {
  overflow-y: scroll;
  height: 100%;
}

.apiRecipesContainer .row::-webkit-scrollbar {
  background-color: rgb(238, 233, 230);
  width: 10px;
  border-radius: 10px;
  height: 100%;
}
.apiRecipesContainer .row::-webkit-scrollbar-thumb {
  background-color: rgb(255, 157, 66);
  border-radius: 10px;
}
/* end  recippes api section  */
